@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

body, button {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: square;
}

.text-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-numerical {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
}